#outer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
}

#innerlogin{
    width: 35%;
    height: 50%;
    top: 25%;
    margin: 0 auto;
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px gray;
}

a{
    color: royalblue;
    cursor: pointer;
}

.custome-position{
    top: 100px;
    left: 66px;
}

.alert-shown {
    opacity: 1;
    transition: all 500ms linear;
}
  
.alert-hidden {
    opacity: 0;
    transition: all 500ms linear 2s;
}