.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: top;

  }
  
  .flex-container > div {
   /* background-color: lightblue; */
    /* width: 150px; */
    margin: 1px;
    text-align: left;
    /* align-self: center; */
    line-height: 18px;
  }

  .form-row {
      display: flex;
      justify-content: flex-end;
      padding: .5em;
    }

    #inner{
      width: 35%;
      height: 85%;
      top: 7%;
      margin: 0 auto;
      position: relative;
      background:#ffffff;
      box-shadow: 0 0 10px gray;
     }